@use 'variables';

@mixin container-width {
    max-width: variables.$container-width;
    margin: 0 auto;
    padding: 1.5rem 0;
}
   
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-header-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}

@mixin flex-navbar_social-media{
    display:flex;
    color: variables.$primary-color;
}

@mixin bg-img($img){
    background-image:url('../img/#{$img}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(90%);
    transition:.6s;

    &:hover{
        background-size: 110%;
        filter: grayscale(0%);
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/#{$img});
    }
}

@mixin mobile {
    @media(max-width:630px){
        @content
    }
}

